*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
*debug*
*release*

# The instructions in README.md for building a locally signed APK include 
# putting these files in the root directory. We don't want them checked in.
/keystore.properties
/*.jks
