<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bsv.www.storyproducer" >
    <!--IMPORTANT for allowing recording and also writing to sd card-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!-- First Run Setup -->
        <activity
            android:name="com.bsv.www.storyproducer.SetupApp"
            android:label="@string/app_name" >
        </activity>
        <!-- Story List Page -->
        <activity
            android:name="com.bsv.www.storyproducer.MainActivity"
            android:label="@string/title_activity_story_templates" >
        </activity>

        <!-- Info Page -->
        <activity
            android:name="com.bsv.www.storyproducer.InfoPage"
            android:label="@string/title_activity_info_page"
            android:parentActivityName="com.bsv.www.storyproducer.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bsv.www.storyproducer.MainActivity" />
        </activity>
        <!-- Splash Screen -->
        <activity
            android:name="com.bsv.www.storyproducer.SplashScreen"
            android:label="@string/title_activity_splash_screen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
