<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.sil.storyproducer">

    <!-- IMPORTANT for allowing recording and also writing to sd card -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_new_splash"
        android:roundIcon="@mipmap/logo_new_splash"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:fullBackupContent="false"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon,android:roundIcon"
        >

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="org.sil.storyproducer.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <!-- Splash Screen -->
        <activity
            android:name=".controller.SplashScreenActivity"
            android:label="@string/title_activity_splash_screen"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Story List Page -->
        <activity
            android:name=".controller.MainActivity"
            android:label="@string/title_activity_story_templates"
            android:screenOrientation="portrait" />
        <!-- Registration -->
        <activity
            android:name=".controller.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.phase.PhaseBaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.WorkspaceUpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.WorkspaceDialogUpdateActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
