<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.tyndalebt.storyproduceradv">
    <!-- IMPORTANT for allowing recording and also writing to sd card -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- put android:usesCleartextTraffic="true" below if debugging on 248 -->
    <application
        android:name="org.tyndalebt.storyproduceradv.App"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:roundIcon">
        <activity
            android:name="org.tyndalebt.storyproduceradv.activities.ChooseLangActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.tyndalebt.storyproduceradv.activities.AppCompatActivityMTT"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="@bool/FIREBASE_ANALYTICS_DEACTIVATED" />
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_ic_notification" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- Pager Base -->
        <activity
            android:name="org.tyndalebt.storyproduceradv.controller.pager.PagerBaseActivity"
            android:label="Pager Base"
            android:screenOrientation="portrait" /> <!-- Splash Screen -->
        <activity
            android:name="org.tyndalebt.storyproduceradv.controller.SplashScreenActivity"
            android:exported="true"
            android:label="@string/title_activity_splash_screen"
            android:noHistory="true"
            android:screenOrientation="portrait">
        </activity> <!-- Story List Page -->
        <activity
            android:name="org.tyndalebt.storyproduceradv.controller.MainActivity"
            android:screenOrientation="portrait" /> <!-- Registration -->
        <activity
            android:name="org.tyndalebt.storyproduceradv.controller.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.tyndalebt.storyproduceradv.activities.WelcomeDialogActivity"
            android:screenOrientation="portrait" /> <!-- Learn -->
        <activity
            android:name="org.tyndalebt.storyproduceradv.controller.learn.LearnActivity"
            android:screenOrientation="portrait" /> <!-- Create -->
        <activity
            android:name="org.tyndalebt.storyproduceradv.controller.export.FinalizeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" /> <!-- Share -->
        <activity
            android:name="org.tyndalebt.storyproduceradv.controller.export.ShareActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" /> <!-- WordLinks -->
        <activity
            android:name="org.tyndalebt.storyproduceradv.controller.wordlink.WordLinksActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" /> <!-- WordLinks List -->
        <activity
            android:name="org.tyndalebt.storyproduceradv.controller.wordlink.WordLinksListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.tyndalebt.storyproduceradv.activities.DownloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.tyndalebt.storyproduceradv.activities.DisplayAlert"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="org.tyndalebt.storyproduceradv.service.FirebaseMsgServiceSPAdv"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>